.custom-label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}

.custom-checkbox {
    width: 18px;
    height: 18px;
    opacity: 0;
}
