/* landing-main */
@keyframes arm-wiggle {
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(-10deg); }
}

@keyframes bar {
    0%, 100% { width: 286px; }
    50% { width: 350px; }
}

@keyframes bar2 {
    0%, 100% { width: 367px; }
    50% { width: 267px; }
}

@keyframes bar3 {
    0%, 100% { width: 350px; }
    50% { width: 400px; }
}

/* lnb-listTab */
.lnb-lists-tab {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #5e6778;
    padding: 10px 0 10px 24px;
    position: relative;
}

.lnb-ico-on {
    display: none;
}

.lnb-lists-tab:hover,
.lnb-lists-tab.on {
    background: #fff;
    color: #62CCD0;
}

.lnb-lists-tab:hover .lnb-ico-on,
.lnb-lists-tab.on .lnb-ico-on {
    display: block;
}

.lnb-lists-tab:hover .lnb-ico,
.lnb-lists-tab.on .lnb-ico {
    display: none;
}
